<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.label :Title %>
    <%= form.text_area :Title %>
  </div>
  
  <div class="input-group">
    <%= form.label :Description %>
    <%= form.text_area :Description %>
  </div>
  
  <div class="input-group">
    <%= form.label :Type %>
    <%= form.select :Type, options_for_select("bug", "enhancement", "proposal", "task"), :prompt => 'Select One', :class => 'genForm_dropBox' %>
  </div>
  
  <div class="input-group">
    <%= form.label :Priority %>
    <%= form.select :Priority, options_for_select("major", "minor", "trivial", "critical", "blocker"), :prompt => 'Select One', :class => 'genForm_dropBox' %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Cancel', microposts_path %>
  </div>
<% end %>
