<!DOCTYPE html>
<html>
<head>
<style>
  td:hover {
    background-color:#f5f5f5;
    
  }
  table{
    border-collapse: collapse;
    width: 100%;
  }
  table thead tr th{
      border-bottom: 1px solid lightgray;
      text-align: left;
  }
  table th, table td{ /* Added padding for better layout after collapsing */
      padding: 4px 8px;
  }
</style>
</head>

<body>
  <p id="notice"><%= notice %></p>
  
  <div style="position: relative;" class="header">
    <h1>Issues</h1>
    <div style="position: absolute; top: 0; right: 0;">
      <%= link_to 'Create issue', new_micropost_path %>
       <input type="text" id="myInput" onkeyup="search()" placeholder="Find issues">
    </div>
  </div>
  
  <div style = "display: inline; position: relative;">
    <a>Filter by: </a>
    <a href="/microposts">All</a>
    <a><%= link_to "Open", microposts_url(status: "New&Open")%></a>
    <a><%= link_to "My issues", microposts_url(assignee: current_user.id)%></a>
    <a><%= link_to "Watching", microposts_url(watcher: current_user.id)%></a>
  </div>

  <table id = "myTable">
    <col width="48%">
    <col width="5%">
    <col width="5%">
    <col width="8%">
    <col width="8%">
    <col width="8%">
    <col width="8%">
    <col width="8%">
    <col width="2%">
    <thead >
      <tr>
        <th onclick="sortTable(0)">Title</th>
        <th onclick="sortTable(1)">T</th>
        <th onclick="sortTable(2)">P</th>
        <th onclick="sortTable(3)">Status</th>
        <th onclick="sortTable(4)">Votes</th>
        <th onclick="sortTable(5)">Assignee</th>
        <th onclick="sortTable(6)"> Created</th>
        <th onclick="sortTable(7)">Updated</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @microposts.each do |micropost| %>
        <tr>
          <td><%= link_to micropost.title, micropost, class:"btn-link" %></td>
          <td><%= link_to micropost.type_issue , microposts_url(type_issue: micropost.type_issue), class:"btn-link" %></td>
          <td><%= link_to micropost.priority , microposts_url(priority: micropost.priority), class:"btn-link" %></td>
          <td><%= link_to micropost.status, microposts_url(status: micropost.status), class:"btn-link" %></td>
          <td><%= micropost.votes %></td>
          <% if !micropost.assignee.nil? %>
            <td><%= link_to micropost.assignee.name, microposts_url(assignee: micropost.assignee.id), class:"btn-link" %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= time_ago_in_words(micropost.created_at) + " ago" %></td>
          <td><%= time_ago_in_words(micropost.updated_at) + " ago" %></td>
          <% if !Watcher.exists?(:micropost_id => micropost.id, :user_id => current_user.id) %>
            <td><%= link_to 'Watch', watch_url(id: micropost.id, view: "micropost"), method: :post, class: "vote" %></td>
          <% else %>
            <td><%= link_to 'Unwatch', watch_url(id: micropost.id, view: "micropost"), method: :post, class: "vote" %></td>
          <% end %>
          
          <% if false %>
            <td><%= link_to 'Show', micropost %></td>
            <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
            <td><%= link_to 'Delete', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <script type='text/javascript'>
    function search() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    
    function sortTable(column) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[column];
          y = rows[i + 1].getElementsByTagName("TD")[column];
          // Check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    
    
  </script>
</body>
