<p id="notice"><%= notice %></p>



<% if false %>
<p>
  <strong>User:</strong>
  <%= @micropost.user.name %>
<p>
<% end %>

<p>
  <h2><%= @micropost.title %></h2>
</p>

<p>
  <strong> created an issue</strong>
  <%= @micropost.created_at %>
</p>


<p>
  <%= @micropost.description %>
</p>

<p>
  <strong>Attachments:</strong>
  <%= link_to "My document", "www.google.es", target: "_blank" %>
</p>

<p>
  <strong>Assignee</strong>
  <%= @micropost.description %>
</p>
<p>
  <strong>Type</strong>
  <%= @micropost.type_issue %>
</p>
<p>
  <strong>Priority</strong>
  <%= @micropost.priority %>
</p>

<p>
  <strong>Status</strong>
  <%= @micropost.description %>
</p>

<p>
  <strong>Votes</strong>
  <%= @micropost.description %>
</p>
<p>
  <strong>Watchers</strong>
  <%= @micropost.description %>
</p>

<p>
  <h3>Comments:</h3>
</p>



<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
