<p id="notice"><%= notice %></p>



<% if false %>
<p>
  <strong>User:</strong>
  <%= @micropost.user.name %>
  <strong> created an issue</strong>
  <%= @micropost.created_at %>
</p>
<% end %>

<p>
  <strong>User:</strong>
  <strong> created an issue</strong>
  <%= @micropost.created_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @micropost.description %>
</p>


<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
