<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "dropdown_button" %>


<% if false %>
<p>
  <strong>User:</strong>
  <%= @micropost.user.name %>
  
<p>
<% end %>

<div class="btn_edit", style="float:right; padding-top:5px">
      <%= link_to 'Create issue', new_micropost_path %>
</div>

<p>
  <h2><%= @micropost.title %></h2>
</p>

<p>
      Issue #<%= @micropost.id %>
</p>

<div style="float:right;">
  <% if 1 %>
    <div class="dropdown">
      <div id="Content" class="btn_content", style="float: left">
        <% if @micropost.status == "Open" || @micropost.status == "New" %>
           <%= link_to 'Resolve', update_status_url(id: @micropost.id, status: "Resolved"), method: :put %>
        <% else %>
          <%= link_to 'Open', update_status_url(id: @micropost.id, status: "Open"), method: :put, class:'open'%>
        <% end %>
      </div>
      <%= javascript_include_tag "dropdown_show" %>
      <button onclick="myFunction()" class="dropbtn" >Workflow</button>
      <div id="myDropdown" class="dropdown-content">
        <% Micropost.status.each do |status| %>
          <% if status != @micropost.status %>
            <%= link_to(status, update_status_url(id: @micropost.id, status: status), method: :put) %>
            <% end %>
        <% end %>
     </div>
     <div class="btn_edit", style="float: right">
      <%= link_to 'Edit', edit_micropost_path(@micropost) %>
      </div>
    </div>
  <% end %>
</div>

<p>
  <strong> created an issue</strong>
  <time><%= @micropost.created_at.strftime('%Y-%m-%d')%></time>
</p>


<% if !(@micropost.description == "") %>
  <p class="description"><%= @micropost.description %></p>
<% else %>
  <p class="no-description">No description provided.</p>
<% end %>


<div style="padding: 8px; border: 1px solid #EAEAEA; float:right; padding-left: 25px;">
  <p style="padding-right: 10px;">
    <strong>Assignee</strong>
    <% if !@micropost.assignee.nil? %>
    
    <% else %>
      -
    <% end %>
  </p>  
    <p>
      <strong>Type</strong>
      <%= link_to @micropost.type_issue , microposts_url(type_issue: @micropost.type_issue) %>
    </p>
    <p>
      <strong>Priority</strong>
      <td><%= link_to@micropost.priority , microposts_url(priority: @micropost.priority) %></td>
    </p>

    <p>
      <strong>Status</strong>
      <%= link_to @micropost.status, microposts_url(status: @micropost.status)%>
    </p>

    <p>
      <strong>Votes</strong>
      <%= @micropost.votes %>
      <%= link_to 'Vote for this issue', vote_url(id: @micropost.id), method: :post, class:"vote" %>
    </p>
    <p style="padding-right: 10px;">
      <strong>Watchers</strong>
      <%= @micropost.watchers %>
  
      <%= link_to 'Watch this issue', watch_url(id: @micropost.id, view: "micropost"), method: :post, class: "vote" %>
    </p>
</div>

<p>
  <% if @micropost.things.attached? %>
    <strong>Attachments:</strong>
    <% @micropost.things.each do |thing| %>
      <% if thing.previewable? %>
        <%= image_tag(thing.preview(resize: '200x200')) %>
      <% end %>
      <p>
        <a class="attachment_url" href=<%= url_for(thing)%> > <%=thing.filename%> </a>
        <% if 1 %>
          <%= link_to 'Remove', micropost_delete_attachment_url(thing.id),
                              method: :delete,
                              data: { confirm: 'Are you sure you want to delete this attachment?' } %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</p>

<div class="issue_comments">
  <h3>Comments (<%= @micropost.comments.count %>)</h3>
  <p>
<% @micropost.comments.each do |comment| %>
  <!--Reporter %=comment.user.name %>-->

   
  <p>
  <%= comment.body %>
  </p>
  <%= time_ago_in_words(comment.created_at) + " ago" %>
  <!--% if comment.user.id == current_user.id %>-->
  <!--Link to edit-->
  <!--Link to delete-->
  <%= link_to 'Delete', [comment.issue, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  
  <% end %>

  <%= render 'comment_form', micropost: @micropost %>
</div>



